@import url(colores.css);

footer {
    width: 100%;
    margin-top: 5rem;
    background-color: var(--rosa_palido);
    box-shadow: 0px 2px 5px 10px rgba(0, 0, 0, 0.18);
    padding: 3rem;
}

.contactos {
    display: flex;
    flex-direction: column;
    color: var(--crema_blanco);

}

@media (min-width: 480px) {

    .contactos {
        display: grid;
        grid-template-columns: 50% 50%;

    }

}

@media (min-width: 782px) {
    .contactos .contac-div {
        width: 60%;
        margin: auto;

    }
}

.imagen-footer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagen-footer img {
    width: 80%;
}

footer .fecha {
    color: var(--crema_blanco);
    text-align: center;
    font-size: 1.5rem;
}