:root{
    --blanco:#ffff;
    --gris_claro:#9a9f98;
    --celeste_bajito:#b1dfda;
    --crema_blanco:#fcfcfa;
    --rosa_palido: #d7a9b0;
}

header h1{
    text-align: center;
    color: var(--crema_blanco);
}

.nav-fondo{
    background-color: var(--blanco);
    box-shadow: 0px 11px 9px 2px rgba(33,33,33,0.19);

}

.cont-nav{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 780px) {
    .nav-principal{
        flex-direction: row;
        justify-content: space-between  ;
    }
}

.nav-principal a{
    padding: 1.5rem;
    color: var(--gris_claro);
    text-decoration: none;
    font-weight: bold;
}

.nav-principal a:hover{
    background-color:var(--celeste_bajito);
    color: #ffff;
}
