@import url(colores.css);

body {
    background-color: rgba(154, 159, 152, .2);
}

/** NAVEGADOR */
.nav-fondo {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, .3);
    background-color: rgba(215, 169, 176, .3);
}

.nav-principal a:hover {
    background-color: var(--crema_blanco);
    color: var(--rosa_palido);
}

/** IMAGEN PRINCIPAL */

.img-fondo {
    background-image: url(../imgs/ups-fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;

}

.contenedor {
    margin: auto;
    width: 80%;
    height: 100%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedor .img {
    display: none;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 760px) {
    .contenedor .img {
        display: flex;
    }

    .contenedor .img img {
        display: flex;
        width: 60%;

        background-color: rgba(255, 255, 255, .6);
        border-radius: 1.5rem;

    }
}

.img h2 {
    width: 100%;
    color: var(--blanco);
    text-align: center;
}



/** CONTENEDOR BODY */
.contenedor-body {
    width: 86%;
    margin: 2rem auto;
    border-radius: 1.5rem;
    padding: 1.2rem;
}

@media (min-width: 480px) {
    .contenedor-body {
        width: 96%;
        margin: 2rem auto;

        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;

        border-radius: 1.5rem;
    }
}


/*? MAIN */

main {
    width: 100%;
    margin: auto;
    padding: 1rem;
}

.estudiante {
    background-color: rgba(255, 255, 255, .5);
    background-color: rgba(215, 169, 176, .7);
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    text-align: justify;
}

.estudiante h2,
.estudiante p {
    color: var(--blanco);
}

/*? ASIDE */

aside {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 75%;

}

aside section {
    width: 90%;
    background-color: var(--celeste_bajito);
    padding: .5rem;
    border-radius: 1rem;
    height: 90%;
    margin-top: 2%;
    color: #fff;


    /*box-shadow: 13px 18px 20px -3px rgba(0, 0, 0, 0.53);*/

}

aside section h5 {
    width: 80%;
    margin: auto;
    margin-top: 2rem;

    text-align: center;
    border-radius: .8rem;
    padding: .5rem;

    background-color: #fff;
    color: var(--gris_claro);

}

aside section ul {
    list-style: none;
    text-align: left;
}

aside section ul a {
    color: #fff;
}

aside section p {
    width: 90%;
    margin: 1rem auto;
}

@media (min-width: 480px) {
    aside {
        justify-content: end;
    }

    aside section {
        margin-top: 0;
    }

    aside section p {
        display: flex;
        text-align: justify;
    }


}

@media (min-width: 780px) {
    aside section h5 {
        font-size: 2rem;
    }

    aside section p {
        font-size: 2rem;
    }

    aside section ul a {
        font-size: 2rem;

    }
}

/**  FOOTER */

footer section {
    color: var(--gris_claro);
    text-align: center;
    font-size: 1.5rem;
}