html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    background-image: linear-gradient(to top, #e0bfc4 0%, #d7a9b0);
    background-repeat: no-repeat;
    background-size: cover;    

}
